<%= form_for(:micropost) do |f| %>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
<% end %>